/* body */

body
{
    background-color: #FFFFFF;
    font-family: sans-serif;
    margin: 0em;
}

/* span */

span
{
    color: #f38e58;
}

/* lien */

a
{
    text-decoration: none;
}

header a
{
    color: white;
}

footer a
{
    color: white;
    font-size: 24px;
}

a p
{
    font-size: 0.7em;
}

/* header */

header
{
    background-color: #f38e58;
}

header h2
{
    color: white;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0em;

    font-size: 3.8em;
}

header p
{
    text-align: center;
    padding-bottom: 4em;
}

nav ul
{
    background-color: #f38e58;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 5%;
    margin-left: 5%;
}

/* section */

section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section h1
{
    color: rgb(0, 153, 255);
}

article
{
    max-width: 39.5%;
    margin-bottom: 150px;
}

article div
{
    text-align: center;
}

article input
{
    width: 90%;
    height: 2.5em;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

article h3
{
    margin-top: 48px;
    margin-bottom: 25px;
}

article ul
{
    list-style-type: none;
    padding: 0%;
    text-align: left;
    display: flex;
    margin-bottom: 35px;
}

.artlogo
{
    color: white;
    background: linear-gradient(to bottom, #f38e58 75%, rgb(249,198,169) 25%);
    text-align: center;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 10%;
    padding: 15px;
    border-radius: 90px / 90px;
    width: 54px;
    height: 27px;
}

/* footer */

footer
{
    background-color: #404040;
    padding-top: 20px;
}

footer ul ul
{
    color: #AAAAAA;
    list-style-type: none;
    padding: 0em;
}

footer h3
{
    background-color: #032030;
    text-align: center;
    font-size: 12px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 10px / 10px;
}

footer h4
{
    color: #AAAAAA;
    font-weight: normal;
    background-color: #333333;
    padding-left: 4%;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.footli
{
    padding-bottom: 2em;
}

.footli li
{
    margin-bottom: 10px;
}

/* id */

#submit
{
    position: absolute;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #f38e58;
    font-size: 1em;
    padding: 1em;
    text-align: center;
    border: 3px solid #f38e58;
    border-radius: 5px / 5px;
    min-width: 24%;
    height: 50px;
    right: 4.5%;
}

#footul
{
    color: #FFFFFF;
    list-style-type: none;
    padding: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 8%;
    margin-bottom: 0%;
}

#footstart
{
    line-height: 156%;
}

#navdiv1
{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    width: 180px;
}

#navdiv2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
}

#navdiv2 h1
{
    min-width: 112px;
    font-weight: normal;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
}

#navdiv3
{
    justify-content: center;
    display: flex;
}

#navdiv3 h1
{
    font-size: 1em;
    margin-left: 10px;
    text-align: center;
}

#navdiv3hone
{
    background-color: #032030;
    border: 3px solid #032030;
    border-radius: 5px / 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navdiv3htwo
{
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px / 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#artone
{
    position: relative;
    min-width: 300px;
}

#artone h1
{
    margin-left: 3.5%;
    margin-right: 3.5%;
}

#artone p
{
    text-align: justify;
    margin-left: 3.5%;
    margin-right: 7.5%;
}

#arttwo
{
    max-width: 90%;
    width: 510px;
}

#Message
{
    padding-top: 0px;
    padding-bottom: 7.5em;
}

#staytuned
{
    display: flex;
}

#staytuned li
{
    color: #f38e58;
    margin-right: 12.5px;
}

#try
{
    font-size: 16px;
}

/* logo */

footer .fa-facebook:before 
{
    font-size: 24px;
    padding: 0px;
}

footer .fa-twitter:before
{
    font-size: 24px;
}

footer .fa-instagram:before
{
    font-size: 24px;
}

footer .fa-linkedin:before
{
    font-size: 24px;
}

.fa-facebook:before
{
    padding-right: 5px;
    padding-left: 5px;
}

.fa-copyright:before
{
    margin-right: 0.5em;
}